// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$margin: #f6c99c;

$black: rgba(11, 10, 7, 1);
$slate-gray: rgba(114, 134, 160, 1);
$cosmic-latte: rgba(255, 248, 231, 1);
$bronze: rgba(218, 118, 53, 1);
$white: rgba(255, 255, 255, 1)
