// Specific CSS for your home-page

//body {
  //background-color: #235789;
//}

.homepage {
  background-color: $bronze;
  // height: 110vh;
  // width: 100vh;

  // z-index: -1;



  h1 {
    justify-content: center;
    text-align: center;
    font-size:110px;
    color:white;
    font-weight: bold;
    margin: 0;
  }

  p {
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    width: 70ch;
  }

}

.home {
  margin: 0 auto;
  background: $cosmic-latte;
  border-color: black;
  padding: 8px 18px;
  color: black;
  border-radius: 8px;
  border: none;
  &:hover {
    background: $slate-gray;
    color: $white;
  }
}

.textbox {
  width: 65%;
  background-image: image-url('gallikeingridsends.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;
}

.banner{
  align-items: center;
  width:50%;
}
