div.document-scrollable-carousel {
  background-color: #333;
  overflow-x: auto;
  white-space: nowrap;
  height: 220px;
  margin: 0;
  padding: 0;
}

.document-add-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.property-show-banner {
  overflow: hidden;
  height: 300px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
}

.property-show-banner img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  padding: 15px;
  border-radius: 12%;
}
