div.document-scrollable-carousel {
  background-color: #333;
  overflow-x: auto;
  white-space: nowrap;
  height: 220px;
  margin: 0;
  padding: 0;
}

.document-add-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
