// Property Show Page Document Carousel
div.document-scrollable-carousel {
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
  padding: 0;

  .card:hover {
    background-color: $slate-gray;
    color: $white;

    .text-muted{
      color: $white !important;
    }
  }
}

.document-block-bg {
  background-color: $white;
  padding: 20px;
  border: 1px solid $bronze;
  border-radius: $bdr-rad;
}

.document-add-button {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.document-card {
  position: relative;
  .popover {
    opacity: 0;
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 8px;
    font-size: 0.8rem;
    background: white;
    border-radius: $bdr-rad;
    color: black;
    transition: opacity .3s ease;
     p {
      margin: 0;
     }
  }
  &:hover {
    .popover {
      opacity: 1;
    }
  }
}

// Property Show Page Card With property details
.property-show-banner {
  display: flex;
  gap: 30px;
  overflow: hidden;
  height: 400px;
  background: $white;
  align-items: center;
  border-radius: $bdr-rad;
  margin: 0px;
  border: 1px solid $bronze;

  &:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .property-banner-text {
    flex-grow: 2;
    padding: 50px;
    // border: 1px solid grey;
  }

}

// Tasks Container On the property show page.
.tasks-container {
  border: 1px solid $bronze;
  padding: 20px;
  background-color: $white;
  border-radius: $bdr-rad;

  .task-row {
    border: 1px solid grey;
    padding: 10px;
    display: flex;
    gap: 30px;
    span {
      margin: 0 20px;
    };

    .complete-task-circle {
      margin-left: auto;
      width: 30px;
      height: 30px;
      border: 1px #ed7f08;
      border-radius: 50%;
    }
  }
}
