<%# List of all the users tasks. %>
<h2 class="text-center mt-3">TASKS</h2>

<% @tasks.each_with_index do |task, index| %>
  <div class="mt-3 border border-primary">
    <h4>
      <%= link_to task.property.name, property_path(task.property),
        class: "btn btn-light btn-lg", style: "width:100%;" %>
    </h4>
    <%= render 'taskaccordian', task: task, index: index %>
  </div>
<% end %>
