<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <% if property.images.attached? %>
        <%= cl_image_tag property.images.first.key, class:"d-block w-5 h-5", crop: :fill, style: "object-fit:cover"%>
      <% else %>
        <h1>No Images Found. Please add images.</h1>
      <% end %>
    </div>

    <% if property.images.attached? %>
      <% property.images[1..property.images.size].each do |image| %>
        <div class="carousel-item">
          <%= cl_image_tag image.key, class:"d-block w-5 h-5", crop: :fill, style: "object-fit:cover"%>
        </div>
      <% end %>
     <% end %>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
