<div class="accordion" id="accordionPanelsStayOpenExample">

  <% if task.subtasks.any? %>
    <% task.subtasks[0..3].each_with_index do |subtask, index| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Subtask #<%= index + 1%>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%# this button calls down a modal to add a subtask. %>
  <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#documentModal">ADD SUBTASK</button>
  <%= link_to "View More", properties_path, class: "btn btn-secondary" %>

</div>
