<div class="container">

  <div class="cards" id="properties">
    <% @properties.each do |property| %>
      <%= link_to property_path(property.id) do %>
        <div class="card-product">
          <img src="https://source.unsplash.com/random?house" />

            <div class="card-product-infos">
            <div class="border border-2 rounded-2">
            <h2><%= property.name %></h2>
            </div>
              <p><%= property.description %></p>
              <p><%= property.address %></p>
              <p><%# link_to "Show property", property %></p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>








<%#
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    PROPERTY 1
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    PROPERTY 2
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    PROPERTY 3
  </div>
</div> %>
