<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top <%= 'd-none' if params[:action] == "home" %>">
  <div class="container">

    <%= link_to properties_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png'%>
    <% end %>


    <nav class="navbar">
      <div class="justify-content-center">
        <span class="navbar-text">
          <div class="center-propley d-inline-flex">
            <div><strong style="font-size: 25px;" class="nav-logo-text">Proply</strong></div>
          </div>
        </span>
      </div>
    </nav>




      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
              <div class="nav-btn" >
                <%# profile_picture %>
                <% if current_user.profile_picture.attached? %>
                  <%= cl_image_tag current_user.profile_picture.key, crop: :fill, width: 50, height: 50,
                      style: "border-radius:50%", data: {bs_toggle: "offcanvas", bs_target: "#offcanvasWithBothOptions"},
                      aria: {controls: "offcanvasWithBothOptions"}
                  %>
                  <button class="btn bar-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                  <i class="fa-solid fa-bars fa-lg" style="color: #000000;"></i></button>
                <% else %>
                  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                  <i class="fa-solid fa-bars fa-lg" style="color: #000000;"></i></button>
                <% end %>

              </div>
        </ul>
      </div>

  </div>
</div>
