<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top <%= 'd-none' if params[:action] == "home" %>">
  <div class="container">
    <%= link_to properties_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png'%>
    <% end %>

    <nav class="navbar">
      <div class="justify-content-center">
        <span class="navbar-text">
       <div class="center-propley d-inline-flex">
         <div><i class="fa-solid fa-p fa-lg" style="color: #000000;"></i></div>
         <div><strong>roply</strong></div>

       </div>
        </span>
      </div>
    </nav>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
            <div class="nav-btn" >
              <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
              <i class="fa-solid fa-bars fa-lg" style="color: #000000;"></i></button>
            </div>
      </ul>
    </div>
  </div>
</div>
