<div class="homepage d-flex align-items-center">
  <div class="textbox" id="landing-background"></div>
    <div class="banner d-flex flex-column banner-text justify-content-center">
      <h1 class="" id="title-home">PROPLY</h1>
         <p>
            Your property management solution
          </p>
      <%# <p class="mb-5 "> Manage Your Property</p> %>
      <%=link_to "Manage Properties", properties_path, class:"btn btn-primary btn-lg home" %>
    </div>
</div>
