<h1>My Documents</h1>
<% documents.each do |document| %>
  <strong>
    <%=document.title%>
  </strong>
    <%# logic to view the document url. %>
    <% if document.file.attached? %>
      <%= link_to "Click here to view #{document.title}", document.file.url %>
    <% end %>
    <%# Edit the document details %>
    <%= render 'documents/documentform', property: document.property, document: document %>
    <%# delete button %>
    <%= link_to "Delete Document",
            document_path(document),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the document?"},
            class: "btn btn-danger"
    %>
    <br>
    <br>
<% end %>
