.navbar-lewagon {
  justify-content: space-between;
  background-color: $white;
  margin: 0;
  padding: 0;
  // border: 3px solid blue;
  border-bottom: 3px solid $bronze; /* Adjust color and width as needed */
  height: 100px
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
}

.nav-logo-text {
  color: $bronze;
}
